/* БЭМ */
//<li><button class="technical_references-hr__button">MENU</button></li>
.container_footer-ft {
    background:#434343;
    color: #AAAAAA;
    font-family: 'Open Sans', sans-serif;
    padding-left: 340px;
    position: relative;

    &__element_heading-ft {
        margin-bottom: 53px;
    }

    &__element_heading-ft::after {
        content: '';
        display: block;
        position: absolute;
        width: 380px;
        height: 1px;
        background-color: #666666;
        top: 85px;
        margin-bottom: 53px;
    }

    &__flex-ft {
        display: flex;
    }

    &__navigation-ft {
        margin-right: 242px;
    }
    
    &__information-ft {
        margin-right: 190px;
    }

    &__link_element-ft {
        line-height: 32px;
        transition: 400ms;
    }

    &__link_element-ft:hover {
        opacity: 0.6;
        transition: 400ms;
    }
    
    &__link_element-ft:active,
    &__link_element-ft:focus {
        opacity: 0.4;
        transition: 400ms;
    }

    &__email_list-ft {
        display: flex;
    }

    &__email-ft {
        width: 290px;
        height: 40px;
        background: #666666;
        border: #666666;
        z-index: 1;
        padding-left: 10px;
        border: 1px;
    }

    &__email_button-ft {
        background: black;
        color: white;
        min-height: 42px;
        min-width: 81px;
        transition: 400ms;
    }

    &__forums_list-ft {
        display: flex;
        margin-top: 20px;
        margin-left: -10px;
    }

    &__forums_element-ft {
        padding-left: 10px;
        transition: 400ms;
    }
    
    &__forums_element-ft:hover{
        opacity: 0.6;
        transition: 400ms;
    }
    
    &__forums_element-ft:active,
    &__forums_element-ft:focus {
        opacity: 0.4;
        transition: 400ms;
    }

    &__copyright_alt-ft {
        color: white;
        margin-right: 105px;
    }

    &__main-ft::after {
        content: '';
        display: block;
        position: absolute;
        width: 1180px;
        height: 1px;
        background-color: #666666;
        bottom: 165px;
    }
}

/* Other elements */


.copyright-ft {
    color: white;
    margin-right: 110px;
}

.footer_text-ft {
    color: white;
}

/* Star rating */

.rating-ft {
    margin-right: 255px;
    color: white;
}

.rating_alt-ft {
    margin-right: 245px;
    color: white;
}

.rating_text-ft {
    margin-right: 25px;
    color: white;
}

.rating_main-ft {
    margin-right: 180px;
    top: 20px;
    width: 70px;
    position: relative;
    background-repeat: repeat-x;
    background-image: url(../img/Star_none.svg);
    height: 16px;
}

.rating_element-ft {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    appearance: none;
    font-size: inherit;
    background-repeat: repeat-x;
}

.rating_element-ft:hover {
    background-image: url(../img/Star_focuc.svg);
}

.rating_element-ft:checked {
    background-image: url(../img/Star_active.svg);
}

.rating_element-ft:hover + .rating_text-ft {
    color: #C29974;
}

.rating_element-ft:nth-of-type(1) {
    width: 14px;
    z-index: 5;
}

.rating_element-ft:nth-of-type(2) {
    z-index: 4;
    width: 28px;
}

.rating_element-ft:nth-of-type(3) {
    z-index: 3;
    width: 42px;
}

.rating_element-ft:nth-of-type(4) {
    z-index: 2;
    width: 56px;
}

.rating_element-ft:nth-of-type(5) {
    z-index: 1;
    width: 70px;
}

.forums_footer-ft {
    display: flex;
}

.footer_bottom-ft {
    position: relative;
    display: flex;
    padding-bottom: 100px;
    padding-top: 25px;
}
  
.main_rating-ft {
    display: flex;
}