.technical_references-hr {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;

    @media screen and (max-width: 880px) {
        justify-content: space-between;
    }

    &__div-1 {
        margin-top: 16px;
        margin-left: 44px;
        display: flex;
        flex-wrap: wrap;
        
        @media screen and (max-width: 880px) {
            margin-right: 0;
        }
    }

    &__menu-hr {
        align-items: center;
        display: none;
        background: transparent;
        color: black;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        transition: 400ms;
        border: none;
        margin-top: 16px;
        cursor: pointer;

        @media screen and (max-width: 880px) {
            display: block;
        }
    }

    &__menu-cross {
        display: none;
    }

    &__menu-hr:active + &__menu-cross {
        display: block;
    }
    
    &__menu-hr:active,
    &__menu-hr:hover,
    &__menu-hr:focus {
        background: transparent;
        opacity: 0.6;
    }

    &__div-2 {
        margin-top: 16px;
        margin-left: 44px;
        display: flex;
    }

    &__loupe-hr {
        margin-left: 23px;
        
        @media screen and (max-width: 880px) {
            margin-left: 0;
        }       

        @media screen and (max-width: 480px) {
            margin-right: 10px;
        }
    }

    &__DLK {
        margin-left: 60px;

        @media screen and (max-width: 880px) {
            margin-right: 241px;
        }

        
        @media screen and (max-width: 880px) {
            margin-right: 160px;
        }  

        @media screen and (max-width: 480px) {
            margin-right: 100px;
            margin-left: 10px;
        }
    }

    &__element-hr {
        color: black;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        margin-right: 20px;
        transition: 400ms;

        @media screen and (max-width: 880px) {
            display: none;
        }
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__element-hr:hover {
        opacity: 0.6;
        transition: 400ms;
    }
    
    &__element-hr:active,
    &__element-hr:focus {
        opacity: 0.4;
        transition: 400ms;
    }
}



// mobile menu \\

.mobile-menu {
    position: fixed;
    width: 100%;
    left: 0;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: white;
    display: none;

    &__link,
    &__link-cs {
        color: black;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 20px;
        transition: 400ms;
    }

    &__link-cs {
        margin-top: 35px;
    }
}

.menu-hr:active + .mobile-menu {
    display: block;
}

.mobile-menu::before {
    content: '';
    position: fixed;
    display: block;
    background-color: #7D97DACC;
    height: 100%;
    width: 100%;
    top: 438px;
}