.technical_references-hr {
    display: flex;
    margin-top: 50px;

    @media screen and (min-width: 768px) and (max-width: 1179px) {
            margin-left: 60px;
    }

    &__element-hr {
        color: black;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        margin-right: 20px;
        transition: 400ms;

        @media screen and (min-width: 768px) and (max-width: 1179px) {
            display: none;
        }
    }

    &__list {
        margin-top: 16px;
    }

    &__element-hr:hover {
        opacity: 0.6;
        transition: 400ms;
    }
    
    &__element-hr:active,
    &__element-hr:focus {
        opacity: 0.4;
        transition: 400ms;
    }

    &__loupe-hr {
        max-width: 18px;
        max-height: 18px;
        margin-top: 17px;
        margin-left: 445px;
        margin-right: 24px;
        background: white;

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            margin-left: 286px;
        }
    }

    &__blog_index-hr {
        margin-left: 60px;
    }

    &__blog_other_pages-hr {
        margin-left: 44px;
    }

    &__button {
        display: none;
        margin-top: 17px;
        background: transparent;
        color: black;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        margin-right: 20px;
        transition: 400ms;
        border: none;
        margin-left: 241px;

        @media screen and (min-width: 768px) and (max-width: 1179px) {
            display: block;
        }
    }
    

}