.technical_references-hr {
    display: flex;
    margin-top: 50px;

    @media screen and (max-width: 880px) {
        justify-content: space-between;
    }

    &__div-1 {
        margin-top: 16px;
        margin-left: 44px;
        display: flex;
        flex-wrap: wrap;
        
        @media screen and (max-width: 880px) {
            margin-right: 0;
        }
    }

    &__menu-hr {
        display: none;
        background: transparent;
        color: black;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        transition: 400ms;
        border: none;
        margin-top: 16px;

        @media screen and (max-width: 880px) {
            display: block;
        }
    }
    
    &__menu-hr:active,
    &__menu-hr:hover {
        background: transparent;
    }

    &__div-2 {
        margin-top: 16px;
        margin-left: 44px;
        display: flex;
    }

    &__loupe-hr {
        margin-left: 23px;
        
        @media screen and (max-width: 880px) {
            margin-left: 0;
        }
    }

    &__DLK {
        margin-left: 60px;
        
        @media screen and (max-width: 880px) {
            margin-right: 200px;
        }
    }

    &__element-hr {
        color: black;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        margin-right: 20px;
        transition: 400ms;

        @media screen and (max-width: 880px) {
            display: none;
        }
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__element-hr:hover {
        opacity: 0.6;
        transition: 400ms;
    }
    
    &__element-hr:active,
    &__element-hr:focus {
        opacity: 0.4;
        transition: 400ms;
    }
}