/* БЭМ */

.blog_1-bg {
    margin-top: 50px;
    display: flex;
    padding-inline-start: 0px;
    justify-content: space-between;
    flex-wrap: wrap;

    &__blog_element-bg {
        width: 380px;
    }

    &__head-bg {
        margin-top: 5px;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
    }
    
    &__text-bg {
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        line-height: 25px;
    }
    
    &__date-bg {
        color: #818181;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 0;
    }
}

.blog_footer-bg {
    display: flex;
    margin: 0 auto;

    &__button_vector_1-bg {
        margin-right: 457px;
    }

    &__button_vector_2-bg {
        margin-left: 457px;
    }

    &__button-bg {
        font-family: 'Montserrat', sans-serif;
        color: black;
        margin-top: 51px;
        margin-left: 67px;
    }

    &__button_alt-bg {
        color: #C29974;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 63px;
        margin-top: 51px;
    }
}

/* Other elements */

.blog_head-bg {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-bottom: 16px;
    margin-top: 60px;
}

.left-bg {
    margin-right: 20px;
}

.category_pages-bg {
    color: black;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

.right-bg {
    margin-left: 20px;
}

.blog-img-bg {
    margin-bottom: 5px;
}

.left-bg {
    margin-right: 20px;
}

.right-bg {
    margin-left: 20px;
}

/* Hover, Active and focus */

.blog_button-bg:hover {
    opacity: 0.6;
    transition: 400ms;
}

.blog_button-bg:focus,
.blog_button-bg:active {
    opacity: 0.4;
}