.product_description-cg {
    margin-left: 200px;
    font-family: 'Open Sans', sans-serif;
    width: 680px;
    font-size: 16px;
    line-height: 22px;
}

.product_description_main-cg {
    margin-left: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 26px;
}

.category_pages-cg {
    color: black;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

.category_pages-cg:hover,
.category_pages-cg:active {
    opacity: 0.6;
}

.left-cg {
    margin-right: 20px;
}

.right-cg {
    margin-left: 20px;
}



.catalog_1-cg {
    text-align: center;
    position: relative;
    font-size: 26px;
    justify-content: space-between;
    margin-right: 305px;
    color: black;
    padding-inline-start: 0px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin-top: 53px;
}

.blog_alt {
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 11px;
}

.rating_main-cg {
    margin-left: 6px;
}

.catalog_2-cg {
    margin-right: 100px;
    text-align: center;
    position: relative;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    padding-inline-start: 0px;
    font-family: 'Montserrat', sans-serif;
}



.product_description_section-cg {
    margin-top: 55px;
}

.category_products_head-cg {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    margin-top: 18px;
    margin-left: 1px;
    margin-bottom: 15px;
}

.apparel_kids-cg {
    position: absolute;
    top: 107px;
    left: 76px;
}

.bottom-cg {
    margin-bottom: 55px;
}

.holiday-cg {
    position: absolute;
    top: 107px;
    left: 380px;
}

.toys-cg {
    position: absolute;
    top: 123px;
    left: 705px;
}

.apparel_kids-cg:hover,
.apparel_kids-cg:active,
.holiday-cg:hover,
.holiday-cg:active,
.toys-cg:hover,
.toys-cg:active,
.accessories-cg:hover,
.accessories-cg:active,
.apparel_adults-cg:hover,
.apparel_adults-cg:active,
.sale-cg:hover,
.sale-cg:active {
    text-decoration:underline
}

.accessories-cg {
    position: absolute;
    top: 120px;
    left: 45px;
}

.sale-cg {
    position: absolute;
    top: 120px;
    left: 405px;
}

.apparel_adults-cg {
    position: absolute;
    top: 105px;
    left: 675px ;
}


.catalog_list-cg {
    width: 280px;
    height: 270px;
    background: #000;
}