.pages-c-s {
    font-family: 'Crimson Text', serif;
    color: black;
    font-size: 20px;
    margin-bottom: 92px;
}

.contact_name-c-s {
    font-family: 'Open Sans', sans-serif;
}

.page_name-c-s {
    font-family: 'Montserrat', sans-serif;
}

.text_list-c-s {
    font-family: 'Open Sans', sans-serif;
    width: 380px;
    margin-left: 160px;
    position: relative;
    bottom: 50px;
}

.text_name-c-s {
    font-family: 'Montserrat', sans-serif;
    color: #C29974;
    font-size: 26px;
}

.left-c-s {
    margin-right: 20px;
}

.right-c-s {
    margin-left: 20px;
}

.pages-c-s:hover,
.pages-c-s:active {
    opacity: 0.6;
}

.name_text-c-s,
.phone_text-c-s,
.email_text-c-s,
.message_text-c-s {
    margin-bottom: 3px;
}

.contact_flex-c-s {
    display: flex;
    margin-top: 92px;
    margin-left: 40px;
}

.phone_add_email-c-s {
    display: flex;
    justify-content: space-between;
    max-width: 603px;
}

.phone_add_email_text-c-s {
    max-width: 356px;
    display: flex;
    justify-content: space-between;
}

.name_input-c-s,
.input_line_email-c-s,
.input_line-c-s,
.message_input-c-s {
    border: 1px solid;
}

.name_input-c-s {
    padding-top: 14px;
    padding-bottom: 11px;
    border-radius: 0%;
    width: 600px;
    color: black;
}

.blog_alt {
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 20px;
}

.rating_main-c-s {
    margin-left: 6px;
}

.input_line_email-c-s {
    top: 464px;
    left: 643px;
    width: 290px;
    padding-top: 14px;
    padding-bottom: 11px;
    border-radius: 0%;
}

.input_line-c-s {
    width: 290px;
    padding-top: 14px;
    padding-bottom: 11px;
    border-radius: 0%;
}

.contact_button-c-s {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 22px;
    padding-left: 22px;
    font-family: 'Montserrat', sans-serif;
    background: black;
    color: white;
    margin-bottom: 111px;
    border: #000;
    margin-top: 60px;
}

.message_input-c-s {
    padding-top: 14px;
    padding-bottom: 136px;
    border-radius: 0%;
    width: 600px;
}

.checkbox_message-c-s {
    display: none;
}



.checkbox_label-c-s {
    cursor: pointer;
    position: relative;
}

.span-c-s {
    bottom: 40px;
    position: absolute;
    margin-left: 30px;
    width: 560px;
    font-family: 'Open Sans', sans-serif;
}

.checkbox_label-c-s::before {
    content: '';
    position: absolute;
    display: block;
    height: 19px;
    width: 19px;
    border: 2px solid #C29974;
    background-color: transparent;
    border-radius: 20%;
    bottom: 40px;
}

.span-c-s::after {
    position: absolute;
    content: url('../img/button6.png');
    display: block;
    height: 19px;
    width: 19px;
    opacity: 0;
    bottom: 0px;
    left: -26px;
}

.contact_flex-c-s::after {
    content: '';
    position: absolute;
    display: block;
    width: 680px;
    height: 542px;
    left: 365px;  
    background: #E5EAF8;
    z-index: -1;
}

.checkbox_text-c-s {
    margin-top: 22px;
}

.checkbox_text-c-s {
    cursor: pointer;
    margin-left: 32px;
}

.checkbox_message-c-s:checked + .span-c-s::after {
    opacity: 1;
}