<footer class="container_footer-ft">
    <section class="footer_main-ft">
        <div class="footer_flex-ft">
                <ul class="navigation-ft">
                <li>
                    <h3 class="footer_element_heading-ft">Navigation</h3>
                </li>
                <li>
                    <a href="#" class="footer_link_element-ft">About Us</a>
                </li>
                <li>
                    <a href="/pages/blog.html" class="footer_link_element-ft">Blog</a>
                </li>
                <li>
                    <a href="#" class="footer_link_element-ft">Design Services</a>
                </li>
                <li>
                    <a href="#" class="footer_link_element-ft">Featured On</a>
                </li>
                <li>
                    <a href="#" class="footer_link_element-ft">2018 Holiday Catalog</a>
                </li>
                <li>
                    <a href="#" class="footer_link_element-ft">Shop By Designer</a>
                </li>
            </ul>

            <ul class="information-ft">
                <li>
                    <h3 class="footer_element_heading-ft">Customer Information</h3>
                </li>
                <li>
                    <a href="/pages/contact-us.html" class="footer_link_element-ft">Contact Us</a>
                </li>
                <li>
                    <a href="#" class="footer_link_element-ft">Sale Exclusions</a>
                </li>
                <li>
                    <a href="#" class="footer_link_element-ft">Shipping & Returns</a>
                </li>
                <li>
                    <a href="#" class="footer_link_element-ft">Terms & Conditions</a>
                </li>
                <li>
                    <a href="#" class="footer_link_element-ft">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="footer_link_element-ft">Search</a>
                </li>
            </ul>
            
            <ul class="connect-ft">
                <li>
                    <h3 class="footer_element_heading-ft">Connect</h3>
                </li>
                <li>
                    <ul class="email_list-ft">
                        <li>
                            <input type="Email" class="footer_email-ft" id="email" placeholder="Email"></li>
                        <li>
                            <button class="email_button-ft">JOIN</button>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="forums_list-ft">
                        <li>
                            <a href="#" class="forums_element-ft"><img src="img/Facebook.png" alt=""></a>
                        </li>
                        <li>
                            <a href="#" class="forums_element-ft"><img src="img/Twitter.png" alt=""></a>
                        </li>
                        <li>
                            <a href="#" class="forums_element-ft"><img src="img/Pinterest.png" alt=""></a>
                        </li>
                        <li>
                            <a href="#" class="forums_element-ft"><img src="img/Instagram.png" alt=""></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    
            <div class="footer_bottom-ft">
                <div class="main_rating-ft">
                    <p class="rating_text-ft">Company Rating</p>
                        <div class="rating_main-ft">
                            <input type="radio" 
                            value="1" 
                            class="rating_element-ft"
                            name="star_rating"
                            aria-label="terribly">

                            <input type="radio" 
                            value="2" 
                            class="rating_element-ft"
                            name="star_rating"
                            aria-label="badly">

                            <input type="radio" 
                            value="3" 
                            class="rating_element-ft"
                            name="star_rating"
                            aria-label="fine">

                            <input type="radio" 
                            value="4" 
                            class="rating_element-ft"
                            name="star_rating"
                            aria-label="well">

                            <input type="radio" 
                            value="5" 
                            class="rating_element-ft"
                            name="star_rating"
                            aria-label="excellent">
                        </div>
                </div>
    
                    <p class="copyright_alt-ft">Copyright © 2018 Dlk • Design Life Kids</p>
    
                    <p class="direct_line-ft">Web Design — Direct Line Development</p>
            </div>  
        </section>     
    </footer>