<header class="container">
    <ul class="technical_references-hr">
            <li><a href="index.html" class="technical_references-hr__DLK"><img src="img/DLK.svg" alt="Go to the main page"></a></li>
            <li class="menu-hr"><button class="technical_references-hr__menu-hr menu-hr">MENU</button></li>
            <li><button class="technical_references-hr__menu-cross menu-cross"><img src="img/cross (2).png" alt=""></button></li>
        <ul class="technical_references-hr__list">
            <div class="technical_references-hr__div-1">
                <li><a href="blog.html" class="technical_references-hr__blog_index-hr technical_references-hr__blog_other_pages-hr technical_references-hr__element-hr alt-hr">BLOG</a></li>
                <li><a href="catalog.html" class="technical_references-hr__element-hr">CATALOG</a></li>
                <li><a href="#" class="technical_references-hr__element-hr">ABOUT US</a></li>
                <li><a href="animation.html" class="technical_references-hr__element-hr">ANIMATION</a></li>
                <li><a href="SVG.html" class="technical_references-hr__element-hr">SVG</a></li>
                <li><a href="grid.html" class="technical_references-hr__element-hr">GRID</a></li>
            </div>
            <div class="technical_references-hr__div-2">
                <li><img src="img/loupe.jpg" alt="#"></li>
                <li><a href="contact-us.html" class="technical_references-hr__element-hr technical_references-hr__loupe-hr">CONTACT US</a></li>
            </div>
        </ul>
    </ul>
    <div class="mobile-menu">
        <a href="catalog.html" class="mobile-menu__link">CATALOG</a>

        <a href="#" class="mobile-menu__link">ABOUT US</a>

        <a href="blog.html" class="mobile-menu__link">BLOG</a>

        <a href="animation.html" class="mobile-menu__link">ANIMATION</a>

        <a href="SVG.html" class="mobile-menu__link">SVG</a>

        <a href="grid.html" class="mobile-menu__link">GRID</a>
        
        <a href="contact-us.html" class="mobile-menu__link-cs"><strong>CONTACT US</strong></a>
    </div>
    <script src="js/header.js"></script>
</header>