<header class="container">
    <ul class="technical_references-hr">
            <li><a href="index.html"><img src="img/DLK.svg" alt="Go to the main page"></a></li>
            <li><a href="blog.html" class="technical_references-hr blog-hr technical_element-hr">BLOG</a></li>
            <li><a href="catalog.html" class="technical_references-hr technical_element-hr">CATALOG</a></li>
            <li><a href="#" class="technical_references-hr technical_element-hr">ABOUT US</a></li>
            <li><a href="#" class="technical_references-hr technical_element-hr">ANIMATION</a></li>
            <li><a href="#" class="technical_references-hr technical_element-hr">SVG</a></li>
            <li><a href="#" class="technical_references-hr technical_element-hr">GRID</a></li>
            <li><img src="img/loupe.jpg" alt="#" class="loupe-hr"></li>
            <li><a href="contact-us.html" class="technical_references-hr contact technical_element-hr">CONTACT US</a></li>
    </ul>
</header>